#items{
  white-space: nowrap;
}

.item{
  width: 100px;
  height: 100px;
  background-image: url(res/tempkey_customize6.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}
